<!-- DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW  -->
<!-- DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW  -->
<!-- DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW DOCTOR VIEW  -->

<!-- NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-main">
    <a class="navbar-brand" ui-sref='login'>Recovery Plus +</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
        <a class="nav-link" ui-sref=''>Edit info</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" ui-sref='login'>Log Out</a>
        </li>
      </ul>
    </div>
</nav>


<!-- USER PROFILE USER PROFILE USER PROFILE USER PROFILE USER PROFILE USER PROFILE USER PROFILE USER PROFILE  -->
<section id="content">
  <div class="container" id="docBackground">
    <div class="row">

          <div id="docProfile">

            <div class="docBox">
              <h3 class="display-4">Hello   Dr. {{$ctrl.last_name}}</h3>
              <img ng-src="{{$ctrl.img}}" class="rounded-circle img-fluid" alt="User image">
              <hr class="my-4">
                <!-- <h3>{{$ctrl.points}} udates</h3> -->
                <div class="btn-group">
                  <button ng-click="$ctrl.showPatients()" class="btn btn-primary btn-lg btn-block" type="button" >Patients</button>
                </div>
                <div class="btn-group">
                  <button ng-click="$ctrl.getRewards()" class="btn btn-primary btn-lg btn-block"  type="button">Rewards</button>
                </div>
            </div>

          </div>

    </div>

    
<!-- USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT  -->
    <div class="row">
      <div id="userContent" class="userContent">

        <div class="patients" ng-show='$ctrl.showPatientsView'>
          <h3 class="display-4 text-white">Patients</h3>

            <div id="accordion">
              <div ng-repeat='patient in $ctrl.patients'  ng-show='true'>

                  <div class="card" style="width: 85%;">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <div class="accordion-img">
                          <img class="rounded float-left" src="{{patient.img}}"  height="100" alt="patient">
                        </div>
                        <button ng-click="$ctrl.patientActivity(patient.id)" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#{{patient.id}}" aria-expanded="false" aria-controls="collapseOne">
                          {{patient.first_name}} {{patient.last_name}}
                        </button> Points: {{patient.points}}
                      </h5>
                    </div>
                    <div id="{{patient.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">

                        <div class="patient-activity" ng-show='$ctrl.activityContent'>
                          <div ng-repeat='activity in $ctrl.activities' class="row" >
                            <div class="card" style="width: 100%; ">
                              {{ activity.created_at | date : format : timezone}}
                              <div class="activityList">
                                <a href="{{activity.activity_img}}">
                                  <img class="card-img-activity " src="{{activity.activity_img}}" alt="Card image cap">
                                </a>
                                <div class="card-body" style="background: silver;">
                                  <p class="card-text">{{activity.activity_action}} {{activity.activity_name}}: {{activity.activity_points}} points </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

              </div>
            </div>
        </div>

          <!-- LIST OF REWARDS FROM DOCTOR -->
          <div class="rewards" ng-show='$ctrl.showRewards'>
            <h3 class="display-4 text-white">Rewards</h3>
            <button ng-click="$ctrl.addReward()" type="button" class="btn btn-outline-light btn-sm">+ add Reward</button>

            <!-- ADD REWARD FORM -->
            <div  ng-show="$ctrl.addRewardForm">
                <!-- <div class="col-md-6"> -->
                  <form ng-submit="$ctrl.submitReward()">
                      <div class="rewardForm ">
                        <br>
                        <div class="input-group">
                          <input ng-model="$ctrl.newReward.reward_name"  class="form-control" type="text" placeholder="Reward Name" required/>
                        </div>
                          </br>
                        <div class="input-group">
                          <input ng-model="$ctrl.newReward.reward_points"  class="form-control" type="number"  placeholder="Reward Points" required/>
                        </div>
                          </br>
                        <div class="input-group">
                          <textarea ng-model="$ctrl.newReward.comment" class="form-control" type="textarea" placeholder="Description" rows="5" cols="80" required></textarea>
                        </div>
                          </br>
                          <div class="file-upload-container">
                            <label for="exampleFormControlFile1">Add image</label>
                            <input type="file" class="file" id="file-upload">
                          </div>
                          <br>
                        <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg ">Submit Reward</button>
                      </div>
                  </div>
                </form>
              <!-- </div> -->
            </div>


          <!-- REWARDS REPEAT LIST -->
          <div ng-repeat='reward in $ctrl.rewards' class="row">
            <div class="card" style="width: 18rem;">
              <div class="patientList">
                  <h5 class="card-header ttext-black bg-secondary mb-3">{{reward.reward_name}}</h5>
                  <img class="card-img-top" src="{{reward.img}}" alt="Card image cap">
                  <div class="card-body">
                      <h6 class="card-text">Reward Points: {{reward.reward_points}}</h6>
                      <p class="card-text">{{reward.reward_comment}}</p>
                      <a  ng-click="$ctrl.deleteReward(reward.id)" class="btn btn-outline-primary btn-sm">Delete Reward</a>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- ********************************************************************************* -->
