<!-- Patient View Patient View Patient View Patient View Patient View  -->
<!-- Patient View Patient View Patient View Patient View Patient View  -->
<!-- Patient View Patient View Patient View Patient View Patient View  -->

<!-- NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR -->
<nav class="navbar fixed-top  navbar-expand-lg navbar-dark bg-dark" id="nav-main">
    <a class="navbar-brand" ui-sref='login'>Recovery Plus +</a>
      <div class="">
        <!-- <img src="{{$ctrl.doctor_img}}" class="rounded float-right" alt="..."> -->
        <img class="rounded-circle" src="{{$ctrl.doctor_img}}" width="35" height="35" alt="Generic placeholder image">
      </div>

          <!-- <div class="row">
            <div class="col-xs-2 text-center">

              <p class="lead">"Dr. name" <a href="#" target="_blank"><i class="material-icons md-inverse pmd-sm">link</i></a></p>
            </div>
            <div class="col-md-10 text-center"> -->
              <!-- <h2 class="mt-0">Joe Smith</h2> -->
              <!-- <img src="http://placehold.it/150x40" class="img-fluid" width="10"> -->
            <!-- </div>
          </div> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav .justify-content-end">

      <li class="nav-item">
        <a class="nav-link" ui-sref='login'>Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref=''>Edit Info </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref='login'>Log Out</a>
      </li>
    </ul>

  </div>
</nav>


<!-- USER PROFILE USER PROFILE USER PROFILE USER PROFILE USER PROFILE USER PROFILE USER PROFILE USER PROFILE  -->
<section id="content">


<div class="container" id="docBackground">
    <div class="row">

          <div id="docProfile">

            <div class="docBox">
              <br>
              <br>
              <br>
              <h3 class="display-4">Hello {{$ctrl.first_name}}</h3>

              <img ng-src="{{$ctrl.img}}" class="rounded-circle img-fluid" alt="User image">
              <hr class="my-4">
                <h3>{{$ctrl.points}} Points</h3>
                <div class="btn-group">
                  <button ng-click="$ctrl.showUpload()" class="btn btn-primary btn-md btn-block" type="button" >Upload Pic</button>
                </div>
                <div class="btn-group">
                  <button ng-click="$ctrl.showActivity()" class="btn btn-primary btn-md btn-block" type="button">Recent Activity</button>
                </div>
                <div class="btn-group">
                  <button ng-click="$ctrl.showRewards()" class="btn btn-primary btn-md btn-block"  type="button">Rewards</button>
                </div>
            </div>

          </div>

    </div>


    <!-- USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT USER CONTENT  -->
        <div class="row">
          <div id="userContent">


              <!-- Upload file Upload file Upload file Upload file -->
              <form ng-submit="$ctrl.submitUpload()" ng-show='$ctrl.uploadForm'>
                <div class="form-group">

                  <div class="uploadContainer" >
                <!-- <br>
                    <label class="radio-inline">
                      <input ng-model="$ctrl.users.photo" type="radio" name="inLineRadio" value="1" required> Photo
                    </label>

                    <label class="radio-inline">
                      <input ng-model="$ctrl.users.video" type="radio" name="inLineRadio" value="2" required> Video
                    </label> -->
                <br>
                    <div class="file-upload-container">
                      <label for="file-upload"></label>
                      <input class="file" type="file"  id="file-upload">
                    </div>
                <br>
                      <!-- <a  ng-click="$ctrl.submitUpload()" class="btn btn-primary">Submit</a> -->
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>

                </div>
              </form>

              <!-- RECENT ACTIVITY  RECENT ACTIVITY  RECENT ACTIVITY  -->
              <div class="activity" ng-show='$ctrl.activityContent'>
                <h3 class="display-4 text-white">Recent Activity</h3>
                <!-- NG-REPEAT  ACTIVITYList -->
                <div ng-repeat='activity in $ctrl.activities' class="row" ng-show='true'>
                  <div class="card" style="width: 18rem;">
                    <div class="patientList">
                        <h5 class="card-header text-black bg-secondary mb-3">{{activity.activity_action}} {{activity.activity_name}}</h5>
                        <!-- <div class="card-body"> -->
                          <h6 class="card-text"> {{activity.activity_points}} points on {{ activity.created_at | date : format : timezone}}</h6>

                          <!-- <a  ng-click="" class="btn btn-secondary btn-block">{{activity.media}} Look</a> -->
                        <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- LIST OF REWARDS FROM DOCTOR LIST OF REWARDS FROM DOCTOR -->
              <div class="rewards" ng-show='$ctrl.rewardContent'>
                <h3 class="display-4 text-white">Rewards</h3>

                <!-- NG REPEAT REWARDS LIST -->
                <div ng-repeat='reward in $ctrl.rewards' class="row">
                  <div class="card" style="width: 18rem;">
                    <div class="patientList">
                        <h5 class="card-header ttext-black bg-secondary mb-3">{{reward.reward_name}}</h5>
                        <img class="card-img-top" src="{{reward.img}}" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-text">Reward Points: {{reward.reward_points}}</h6>
                            <p class="card-text">Description{{reward.reward_comment}}</p>
                            <a  ng-click="$ctrl.redeemReward(reward.reward_points, reward.id, reward.reward_name)" class="btn btn-outline-primary btn-sm">Redeem</a>
                        </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
    </div>
</section>
