<!-- Patient View Patient View Patient View Patient View Patient View  -->
<!-- Patient View Patient View Patient View Patient View Patient View  -->
<!-- Patient View Patient View Patient View Patient View Patient View  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-main">
    <a class="navbar-brand" ui-sref='login'>Recovery Plus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="login pull">
        <a class="nav-link" ui-sref='login'>Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref='doctor-view'>doctorView   </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref='rewards-view'>rewardsView </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref='page-two'>Page 2 </a>
      </li>
      <li class="login">
        <a class="nav-link" ui-sref='login'>Log Out</a>
      </li>

    </ul>

  </div>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">

          <div class="col-3">col-3</div>

          <div class="col-6">

              <h1 class="display-4">Hi {{$ctrl.first_name}}</h1>
              <img ng-src="{{$ctrl.img}}" class="rounded-circle img-fluid" alt="User image">
              <hr class="my-4">
              <h3>{{$ctrl.points}} points</h3>

              <div class="btn-group">
                  <button type="button" class="btn btn-primary btn-lg btn-block">Record Video</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg btn-block">Rewards</button>
              </div>


            </div>


          <div class="col-3">col-3</div>

    </div>
  </div>
</div>


<!-- <div class="jumbotron"> -->
<div class="container">
  <div class="">

    <!-- LIST OF REWARDS FROM DOCTOR | orderBy: sortPosts -->
    <div ng-repeat='reward in $ctrl.data' class="row" ng-show='true'>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{reward.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{reward.reward_name}}</h5>
          <p class="card-text">need to add a comment section in the db.</p>
          <a  ng-click="" class="btn btn-primary">{{reward.reward_points}} Points</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- </div> -->
